<header class="w-full h-24 flex items-center border-b">
  <div class="flex items-center justify-between w-full">
    <div class="flex items-center justify-center gap-4">
      <img
        src="https://cdn.pixabay.com/photo/2024/02/28/07/42/european-shorthair-8601492_640.jpg"
        alt="a todo app"
        class="object-cover rounded h-20"
      />
      <p class="font-semibold text-xl">HiTask!</p>
    </div>
    <div class="text-gray-600">
      <p>Enterprise level task management system!</p>
    </div>
  </div>
</header>
