<div class="w-full mb-4 h-72 bg-slate-50 p-4 rounded space-y-2">
  <p>new task for <span class="font-semibold italic">{{ username }}</span></p>

  <div class="flex flex-col gap-4 px-4">
    <div class="flex flex-col gap-1">
      <label class="font-semibold text-lg">Title</label>
      <input
        [(ngModel)]="newTask.title"
        class="rounded p-2 border-2 border-gray-300"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label class="font-semibold text-lg">Description</label>
      <input
        [(ngModel)]="newTask.desc"
        class="rounded p-2 border-2 border-gray-300"
      />
    </div>
  </div>
  <div class="flex items-center justify-end gap-4 px-4">
    <button class="border p-2 rounded bg-white" (click)="handleAddTask()">Add task</button>
    <button class=" bg-red-700 text-white rounded p-2 " (click)="handleCancel()">cancel</button>
  </div>
</div>
