

<main class="flex min-h-screen flex-col max-w-7xl p-4 mx-auto">
  <app-header />
  <div>Selected user id: {{selectedUserId}}</div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4 h-96">

    <ul id="users" class="col-span-1 space-y-2 border p-2 rounded">
      @for (user of users; track $index) {
        <li id="index" [ngClass]="{'border rounded border-black': selectedUserId === user.id}">
          <app-user [user]="user" (select)="onSelectUser($event)"/>
        </li>
      }
    </ul>

    <div class="col-span-1 md:col-span-2 lg:col-span-3 w-full">
      <app-tasks [user]="selectedUser"/>
    </div>
  </div>

</main>


<router-outlet />
